:root {
  --god-gray: #0e0e0e;
  --color-black: #010101;
  --color-white: #fff;
  --color-silver: #c5c5c5;
  --color-jafa: #ef9e40;
  --color-linear: linear-gradient(180deg, #eeb445 0%, #ef9e40 100%);
  --font-size-xs: 14px;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 20px;
  --font-size-l-plus: 24px;
  --font-size-xl: 36px;
  --font-size-xxl: 48px;
  --font-size-xxxl: 64px;
  --offset-size-xl: 30px;
}
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}
.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: red solid 2px;
  outline-offset: 2px;
}
.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}
@font-face {
  font-family: Dodger-super;
  src: url(../fonts/Dodger-super.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
body {
  font-family: Raleway, sans-serif;
  color: var(--color-white);
  background-color: var(--color-black);
  font-weight: 300;
  font-size: var(--font-size-s);
  line-height: 130%;
}
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
img {
  max-width: 100%;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.site-container {
  overflow: hidden;
  background-image: url(../img/force-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 1600px) {
  .site-container {
    background-size: 100% 100%;
  }
}
@media (max-width: 767px) {
  .site-container {
    background-image: none;
  }
}
.site-container:after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-in-out;
}
.site-container.show:after {
  opacity: 1;
  visibility: visible;
}
.btn-reset {
  border: none;
  padding: 0;
  background: 0 0;
  cursor: pointer;
}
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  max-width: 1110px;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 932px;
  }
}
@media screen and (max-width: 991px) {
  .container {
    width: 728px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: calc(100% - 30px);
  }
}
.large-text {
  font-size: var(--font-size-m);
  line-height: 130%;
}
@media (max-width: 767px) {
  .large-text {
    font-size: 16px;
    line-height: 20px;
  }
}
.global-btn {
  font-size: var(--font-size-l);
  line-height: 23px;
  font-weight: 500;
  padding: 15px 25px;
  color: inherit;
}
@media (max-width: 576px) {
  .global-btn {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  .global-btn {
    width: 100%;
  }
}
.global-btn--primary {
  transition: box-shadow 0.25s ease-in-out;
  background: linear-gradient(180deg, #eeb445 0, #ef9e40 100%);
  box-shadow: 0 0 6px #ef9e40;
  border-radius: 10px;
}
.global-btn--primary:hover {
  box-shadow: 0 0 16px #ef9e40;
}
.global-btn--secondary {
  border: 1px solid #fff;
  border-radius: 10px;
  transition: border-color 0.25s ease-in-out, color 0.25s ease-in-out;
}
.global-btn--secondary:hover {
  border-color: var(--color-jafa);
  color: var(--color-jafa);
}
.description {
  line-height: 28px;
  font-size: var(--font-size-l-plus);
}
.section-title {
  font-weight: 700;
  font-size: var(--font-size-xxl);
  line-height: 56px;
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .section-title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 40px;
  }
}
.info-banner {
  max-width: 730px;
  padding: 40px;
  background-color: #20130b;
  border-radius: 20px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  .info-banner {
    padding: 20px;
  }
}
.info-banner:after,
.info-banner:before {
  content: "";
  width: 250px;
  height: 250px;
  background: rgba(239, 158, 64, 0.4);
  filter: blur(149px);
  position: absolute;
  border-radius: 100%;
}
.info-banner:after {
  top: -23%;
  left: -20%;
}
.info-banner::before {
  right: -20%;
  bottom: -23%;
}
.info-banner__desc span {
  font-weight: 500;
}
.info-banner__desc:not(:last-child) {
  margin-bottom: 20px;
}
.select {
  position: relative;
  width: 42px;
}
.select__toggle {
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  justify-content: space-between;
  color: inherit;
}
.select__toggle::after {
  content: "";
  width: 11px;
  height: 6px;
  flex-shrink: 0;
  margin-left: 5px;
  background-size: contain;
  background-image: url(../img/arrow-lang.svg);
  background-repeat: no-repeat;
  transition: transform 0.25s ease-in-out;
}
.select__toggle:focus {
  outline: 0;
}
.select_show .select__toggle::after {
  transform: rotate(180deg);
}
.select__dropdown {
  display: none;
  position: absolute;
  top: 30px;
  left: -10px;
  right: 0;
  overflow-y: auto;
  z-index: 2;
  background-color: rgba(14, 14, 14, 0.9);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 0 20px rgba(1, 1, 1, 0.28);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 5px;
  width: 58px;
  padding: 5px 0;
}
.select_show .select__backdrop,
.select_show .select__dropdown {
  display: block;
}
.select__options {
  margin: 0;
  padding: 0;
  list-style: none;
}
.select__option {
  padding: 4px 17px;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
.select__option:hover {
  background-color: rgba(239, 158, 64, 0.75);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.ellipse-a {
  position: relative;
}
.ellipse-a:after {
  border-radius: 100%;
  content: "";
  width: 250px;
  height: 250px;
  background: rgba(239, 158, 64, 0.4);
  filter: blur(149px);
  position: absolute;
}
.ellipse-b {
  position: relative;
}
.ellipse-b:before {
  border-radius: 100%;
  content: "";
  width: 250px;
  height: 250px;
  background: rgba(239, 158, 64, 0.4);
  filter: blur(149px);
  position: absolute;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item:not(:last-child) {
  margin-right: 30px;
}
@media (max-width: 767px) {
  .menu__list {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.menu__link {
  font-weight: 500;
  font-size: var(--font-size-m);
  line-height: 130%;
  transition: color 0.25s ease-in-out;
}
.menu__link:hover {
  color: var(--color-jafa);
}
.header {
  padding-top: 14px;
  position: relative;
}
.header__container {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }
}
.header-right {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--color-black);
    z-index: 4;
    flex-direction: column;
    padding: 90px 40px 50px;
    justify-content: space-between;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
  }
  .header-right.show {
    opacity: 1;
    transform: translate(0);
  }
  .header__logo {
    position: relative;
    z-index: 5;
  }
}
.header__logo {
  margin-right: 235px;
  flex-shrink: 0;
  width: 54px;
  height: 40px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
@media (max-width: 1200px) {
  .header__logo {
    margin-right: 170px;
  }
}
@media (max-width: 991px) {
  .header__logo {
    margin-right: 70px;
  }
}
.header__menu {
  margin-right: 267px;
}
@media (max-width: 1200px) {
  .header__menu {
    margin-right: 150px;
  }
}
@media (max-width: 991px) {
  .header__menu {
    margin-right: 50px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 767px) {
  .header__menu {
    margin-right: 0;
    width: 100%;
  }
  .header__burger {
    padding: 2px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    width: 24px;
    height: 24px;
    position: relative;
    z-index: 5;
  }
  .header__burger .bar-1,
  .header__burger .bar-2,
  .header__burger .bar-3 {
    width: 100%;
    height: 1px;
    border-radius: 8px;
    background-color: var(--color-white);
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  }
  .header__burger.open .bar-1 {
    transform: translate(0, 10px) rotate(45deg);
  }
  .header__burger.open .bar-2 {
    opacity: 0;
  }
  .header__burger.open .bar-3 {
    transform: translate(0, -9px) rotate(-45deg);
  }
  .header-lang {
    display: none;
  }
}
.header-lang {
  margin-right: 52px;
}
.header-lang__button {
  font-weight: 400;
  font-size: var(--font-size-m);
  line-height: 27px;
}
.header__connect {
  font-weight: 600;
  font-size: var(--font-size-m);
  line-height: 21px;
  background: linear-gradient(180deg, #eeb445 0, #ef9e40 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header-langs {
  display: none;
}
.hero {
  padding: 185px 0 180px;
}
@media (max-width: 991px) {
  .hero {
    padding: 150px 0;
  }
}
@media (max-width: 767px) {
  .header__connect {
    margin-bottom: 20px;
  }
  .header-langs {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-langs__button {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: var(--color-white);
  }
  .header-langs__button:not(:last-child) {
    margin-right: 20px;
  }
  .header-langs__button--disabled {
    color: #c5c5c5;
  }
  .hero {
    padding: 80px 0;
    background-image: url(../img/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 30%;
    position: relative;
  }
  .hero:after {
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 180px;
    position: absolute;
    background: linear-gradient(
      180deg,
      rgba(1, 1, 1, 0.0741213) 0,
      #010101 48.32%
    );
    z-index: 1;
  }
}
.hero__container {
  position: relative;
  z-index: 2;
}
.hero__animal {
  position: absolute;
  top: -90px;
  right: 155px;
}
@media (max-width: 1200px) {
  .hero__animal {
    right: 70px;
  }
}
@media (max-width: 991px) {
  .hero__animal {
    width: 400px;
    right: 0;
  }
}
@media (max-width: 767px) {
  .hero__animal {
    top: -40px;
    width: 50%;
    right: calc(50% - 300px);
  }
}
@media (max-width: 576px) {
  .hero__animal {
    top: -40px;
    width: 50%;
    right: calc(50% - 200px);
  }
}
.hero__title {
  font-family: Dodger-super, sans-serif;
  font-style: italic;
  font-size: 132px;
  line-height: 117px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
@media (max-width: 991px) {
  .hero__title {
    font-size: 90px;
    line-height: 60px;
  }
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 14vw;
    line-height: 38px;
  }
}
@media screen and (max-width: 400px) {
  .hero {
    padding: 24px 0 84px;
  }
  .hero__animal {
    top: -20px;
    width: 113px;
    right: calc(50% - 140px);
  }
  .hero__title {
    font-size: 43px;
    line-height: 38px;
    margin-bottom: 10px;
  }
}
.hero__desc {
  margin-bottom: 49px;
  max-width: 540px;
}
@media (max-width: 991px) {
  .hero__desc {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  .hero__desc {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 15px;
    max-width: 300px;
  }
}
@media screen and (max-width: 400px) {
  .hero__desc {
    max-width: 213px;
  }
}
.hero__connect {
  display: inline-flex;
  align-items: center;
  margin-bottom: 110px;
}
.hero__connect span {
  display: inline-block;
  margin-left: 20px;
  position: relative;
  width: 41px;
  height: 41px;
  background: var(--color-linear);
  box-shadow: 0 0 6.46894px #ef9e40;
  border-radius: 50%;
  z-index: 1;
}
.hero__connect span:after {
  content: "";
  top: 40%;
  left: -13px;
  width: 27px;
  height: 10px;
  position: absolute;
  z-index: 2;
  background-image: url(../img/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: left 0.25s ease-in-out;
}
.hero__connect:hover span:after {
  left: 20%;
}
.hero-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 991px) {
  .hero__connect {
    margin-bottom: 50px;
  }
  .hero-grid {
    gap: 15px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 767px) {
  .hero__connect span {
    width: 21px;
    height: 21px;
  }
  .hero__connect span:after {
    width: 14px;
    height: 5px;
    left: -5px;
  }
  .hero-grid {
    grid-template-columns: 1fr;
  }
}
.hero-grid__item {
  padding: 30px 20px;
  display: flex;
  align-items: center;
  background-color: rgba(14, 14, 14, 0.9);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 0 20px rgba(1, 1, 1, 0.28);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 20px;
}
@media (max-width: 576px) {
  .hero-grid__item {
    padding: 10px 20px;
    min-height: 92px;
    height: 100%;
  }
}
.hero-grid__right--wd {
  max-width: 216px;
}
.hero-grid__left {
  flex-shrink: 0;
  margin-right: 15px;
  width: 54px;
  height: 54px;
}
.hero-grid__left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 576px) {
  .hero-grid__left {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  .hero-grid__right {
    font-size: 14px;
    line-height: 18px;
  }
}
.what {
  padding-bottom: 150px;
  background-image: url(../img/what-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.what-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}
.what-banner {
  margin-bottom: 40px;
}
.what-item {
  position: relative;
  z-index: 2;
  max-width: 920px;
}
.what-item:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .what {
    padding-bottom: 100px;
  }
  .what-banner,
  .what-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.what-item span {
  font-weight: 500;
}
.what-item--bg {
  max-width: 730px;
  padding: 40px;
  background-color: #20130b;
  border-radius: 20px;
}
.what-item__desc:not(:last-child) {
  margin-bottom: 20px;
}
.what-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 65px;
}
@media (max-width: 767px) {
  .what-grid {
    grid-template-columns: 1fr 1fr;
  }
  .what-grid__image {
    width: 100%;
  }
}
.what-grid:after {
  bottom: -100px;
  left: 200px;
  z-index: -1;
}
.what-grid__image {
  height: 197px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}
.what-grid__image img {
  height: inherit;
  -o-object-fit: cover;
  object-fit: cover;
}
.what-grid__desc {
  font-weight: 500;
  transition: color 0.25s ease-in-out;
}
.what-grid__item:hover .what-grid__desc {
  color: var(--color-jafa);
}
.what-more {
  position: relative;
  z-index: 2;
}
.what-more-wrapper {
  display: flex;
  justify-content: center;
}
.what-ellipse {
  overflow: hidden;
}
.what-ellipse:after {
  bottom: 0;
  left: -100px;
}
.what-ellipse:before {
  bottom: 0;
  right: -100px;
}
.what-item-ellipse:after {
  z-index: -1;
  bottom: -200px;
  left: 0;
}
.what-banner-ellipse {
  overflow: hidden;
}
.what-banner-ellipse:after {
  top: 40px;
  right: -100px;
}
.for {
  padding-bottom: 150px;
}
@media (max-width: 767px) {
  .what-grid__image img {
    width: 100%;
  }
  .what-grid__image {
    margin-bottom: 15px;
  }
  .for {
    padding-bottom: 100px;
  }
}
.for__container:after {
  top: 200px;
  right: 0;
  z-index: -1;
}
.for__container:before {
  bottom: 150px;
  left: 50px;
}
.for__title {
  max-width: 617px;
}
.for__subtext {
  max-width: 920px;
  text-align: center;
}
.for__subtext span {
  font-weight: 500;
}
.for__subtext,
.for__title {
  margin: 0 auto 50px;
}
.for-items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin-bottom: 55px;
}
@media (max-width: 576px) {
  .what-grid {
    grid-template-columns: 1fr;
  }
  .for-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
  }
}
.for-items:after {
  top: -50px;
  right: 0;
  z-index: -1;
}
.for-items:before {
  bottom: -50px;
  left: 0;
  z-index: -1;
}
.for-items--end {
  justify-content: flex-end;
}
@media (max-width: 1200px) {
  .what-grid__image {
    height: auto;
  }
  .for-items {
    justify-content: center;
  }
}
.for-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  min-height: 143px;
  background: rgba(14, 14, 14, 0.9);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  position: relative;
}
@media (max-width: 767px) {
  .for-items {
    margin-bottom: 50px;
  }
  .for-item {
    padding: 20px;
    min-height: 150px;
    min-height: 132px;
  }
}
.for-item__desc {
  max-width: 365px;
}
.for-marker {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
  background-color: var(--color-black);
  width: 66px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.for-marker__circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--color-linear);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 6.46894px #ef9e40;
}
.for-marker__circle span {
  width: 9px;
  height: 16px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.for-connect-wrapper {
  display: flex;
  justify-content: center;
}
.earn {
  padding-bottom: 150px;
}
.earn__container {
  position: relative;
}
.earn__container:after {
  z-index: -1;
  bottom: -170px;
  right: 200px;
}
.earn-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.earn-grid__item {
  display: flex;
  flex-direction: column;
}
.earn-grid__image {
  margin-bottom: 14px;
}
@media (max-width: 767px) {
  .for-marker {
    width: 50px;
    height: 50px;
    top: -30px;
  }
  .for-marker__circle {
    width: 40px;
    height: 40px;
  }
  .earn {
    padding-bottom: 100px;
  }
  .earn-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .earn-grid__image {
    width: 50px;
    height: 50px;
  }
  .earn-grid__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}
.earn-grid__desc {
  margin-bottom: 20px;
  line-height: 130%;
}
.earn-grid__desc span {
  font-weight: 500;
}
.earn-grid__step {
  display: flex;
  align-items: center;
  margin-top: auto;
}
.earn-grid__count {
  font-weight: 500;
  font-size: var(--font-size-l);
  margin-right: 20px;
  font-variant-numeric: lining-nums;
}
.earn-grid__line {
  border-bottom: 1px solid #c5c5c5;
  width: 100%;
}
.works {
  padding-bottom: 150px;
  background-image: url(../img/works-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.works-plans span {
  font-weight: 500;
}
.works-top {
  margin-bottom: 40px;
}
.works-plans {
  max-width: 730px;
  margin: 0 auto 50px;
}
.works-items {
  max-width: 730px;
  margin: 0 auto 60px;
}
.works-item:not(:last-child) {
  margin-bottom: 50px;
}
.works-item__title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 500;
  color: var(--color-jafa);
}
.works-item__subtitle {
  text-align: center;
  margin-bottom: 40px;
}
.works-item-ellipse:after {
  top: 20%;
  right: 30%;
  z-index: -1;
}
.works-item-force:after {
  top: 0;
  left: -10%;
  z-index: -1;
}
.works-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.works-grid__item {
  background-color: #22140c;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.works-grid__item--light {
  background-color: #926530;
}
.works-grid__item--lighter {
  background-color: #cf8835;
}
.works-grid__title {
  font-weight: 400;
  font-size: var(--font-size-l);
  line-height: 23px;
  margin-bottom: 20px;
}
.works-grid-list {
  list-style-type: disc;
  padding-left: 30px;
  margin-bottom: 20px;
}
.works-grid__profit {
  margin-top: auto;
  font-weight: 600;
  font-size: var(--font-size-m);
  line-height: 21px;
  font-variant-numeric: lining-nums;
}
.works-slider-wrapper {
  position: relative;
}
.works-slider-wrapper .swiper-button,
.works-slider-wrapper .swiper-pagination {
  display: none;
}
@media (max-width: 576px) {
  .works-grid {
    display: flex;
    gap: 0;
  }
  .works-slider-wrapper {
    padding: 0 15px 20px;
  }
  .works-slider-wrapper .swiper-slide,
  .works-slider-wrapper .swiper-wrapper {
    height: inherit;
  }
  .works-slider-wrapper .swiper-pagination {
    display: block;
    bottom: 0;
    height: 10px;
  }
  .works-slider-wrapper .swiper-pagination-bullet {
    border: 2px solid #eeb445;
    background-color: transparent;
  }
  .works-slider-wrapper .swiper-pagination-bullet-active {
    background-color: #eeb445;
  }
  .works-slider-wrapper .swiper-button {
    display: none;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .works-slider-wrapper .swiper-button {
    display: block;
    font-size: 24px;
    width: 8px;
    height: 15px;
  }
  .works-slider-wrapper .swiper-button:after {
    display: none;
  }
  .works-slider-wrapper .swiper-button-prev {
    left: -5px;
  }
  .works-slider-wrapper .swiper-button-next {
    right: -5px;
  }
  .works-slider-wrapper .swiper-button-disabled {
    opacity: 1;
  }
  .works-slider-wrapper .swiper-button-disabled svg path {
    stroke: #fff;
  }
}
.map {
  padding-bottom: 150px;
}
.map__title {
  margin-bottom: 100px;
}
@media (max-width: 991px) {
  .map {
    padding-bottom: 100px;
  }
}
.timeline {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 60px 0 120px;
  width: 100%;
  min-height: 139px;
}
.timeline:after {
  content: "";
  top: 50%;
  left: 0;
  width: inherit;
  height: 2px;
  background-color: var(--color-white);
  position: absolute;
}
.timeline-item__inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 40px 1fr;
  justify-items: center;
  z-index: 2;
  position: relative;
}
.timeline-item {
  display: flex;
  position: relative;
}
.timeline-item:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 1200px) {
  .timeline {
    padding: 0 30px 0 60px;
  }
  .timeline:after {
    top: 51%;
  }
  .timeline-item__inner {
    grid-template-rows: 1fr 30px 1fr;
  }
  .timeline-item:not(:last-child) {
    margin-right: 10px;
  }
}
@media (max-width: 991px) {
  .timeline {
    padding: 0 30px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .timeline-wrapper {
    width: 100%;
    overflow-x: scroll;
  }
  .timeline:after {
    top: 49%;
    width: 100%;
  }
  .timeline-item:not(:last-child) {
    margin-right: 40px;
  }
  .timeline-item {
    position: static;
  }
}
.timeline-item__title {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  position: relative;
  z-index: 1;
}
.timeline-item__title--top {
  padding-bottom: 26px;
}
.timeline-item__title--bottom {
  padding-top: 26px;
}
@media (max-width: 1200px) {
  .timeline-item__title--top {
    padding-bottom: 30px;
  }
  .timeline-item__title--bottom {
    padding-top: 30px;
  }
}
.timeline-item__open {
  opacity: 0;
}
.timeline-item__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg, #eeb445 0, #ef9e40 100%);
  border-radius: 100%;
  border: 2px solid var(--color-white);
  position: relative;
}
.timeline-item__circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease-in-out;
}
.timeline-item__circle:after {
  content: "";
  top: 0;
  left: calc(50% - 1px);
  width: 2px;
  height: 22px;
  background-color: var(--color-white);
  position: absolute;
}
.timeline-item__circle--none:after {
  display: none;
}
.timeline-item__circle--top:after {
  top: calc(-100% + 12px);
}
@media (max-width: 991px) {
  .timeline-item__title {
    font-size: 16px;
    line-height: 20px;
  }
  .timeline-item__title--top {
    padding-bottom: 22px;
  }
  .timeline-item__title--bottom {
    padding-top: 22px;
  }
  .timeline-item__circle {
    width: 30px;
    height: 30px;
  }
  .timeline-item__circle:after {
    height: 18px;
  }
  .timeline-item__circle--top:after {
    top: calc(-100% + 8px);
  }
}
.timeline-item__circle--bottom:after {
  top: 100%;
}
.timeline-item__content {
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
  position: absolute;
  min-width: 248px;
  width: 100%;
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background: #0e0e0e;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 0 20px rgba(1, 1, 1, 0.28);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 5px;
  z-index: 5;
  left: -98px;
}
@media (max-width: 1200px) {
  .timeline-item__content {
    left: -70px;
  }
}
.timeline-item__content--top {
  top: -60px;
}
.timeline-item__content--bottom {
  bottom: -80px;
}
.timeline-close {
  display: none;
}
@media (max-width: 991px) {
  .timeline-item__content {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 184px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 20px 10px 10px;
  }
  .timeline-close {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
.news-items {
  margin-bottom: 50px;
}
.news-item {
  display: flex;
  align-items: center;
  background-color: rgba(14, 14, 14, 0.9);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 20px;
}
@media screen and (max-width: 576px) {
  .news-item {
    flex-direction: column;
  }
}
.news-item:not(:last-child) {
  margin-bottom: 40px;
}
.news-item__image {
  flex-shrink: 0;
  border-radius: 20px;
  overflow: hidden;
  height: 217px;
}
@media screen and (max-width: 767px) {
  .news-item__title {
    margin-bottom: 4px;
  }
  .news-item__image {
    width: 40%;
  }
}
@media screen and (max-width: 576px) {
  .news-item__image {
    width: 100%;
    height: 179px;
  }
}
.news-item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.news-item__info {
  padding: 30px 50px 30px 30px;
}
@media screen and (max-width: 760px) {
  .news-item__info {
    padding: 30px 15px;
  }
}
.news-item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}
@media screen and (max-width: 767px) {
  .news-item__header {
    flex-direction: column;
    margin-bottom: 15px;
    align-items: flex-start;
  }
}
.news-item__date {
  color: #c5c5c5;
}
.news-item__more {
  display: none;
}
.news-item__show-more {
  font-size: 16px;
  font-weight: 300;
  line-height: 130%;
  color: var(--color-jafa);
  text-decoration: underline;
}
.news-more-wrapper {
  display: flex;
  justify-content: center;
}
.footer {
  padding-bottom: 89px;
}
.footer__container {
  position: relative;
  z-index: 2;
}
.footer-inner {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-rights {
  font-size: var(--font-size-l);
  text-align: right;
}
@media (max-width: 767px) {
  .timeline-item:not(:last-child) {
    margin-right: 20px;
  }
  .footer {
    padding-bottom: 50px;
    background: linear-gradient(
          180deg,
          #010101 0,
          rgba(1, 1, 1, 0.0741213) 49.88%
        )
        center/cover no-repeat,
      url(../img/footer-bg.png) center/cover no-repeat;
    mix-blend-mode: normal;
    position: relative;
  }
  .footer-inner {
    flex-direction: column;
  }
  .footer-menu {
    margin-bottom: 30px;
  }
  .footer-rights {
    text-align: center;
    font-size: 12px;
    line-height: 14px;
  }
}
.footer-time-wrapper {
  padding: 150px 0;
}
@media (max-width: 767px) {
  .footer-time-wrapper {
    padding-top: 120px;
  }
}
.footer-time {
  max-width: 917px;
  margin: 0 auto;
  padding: 50px 95px 50px 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(14, 14, 14, 0.81);
  box-shadow: 0 0 20px rgba(1, 1, 1, 0.28);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border-radius: 20px;
}
.footer-time__desc {
  max-width: 730px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
}
@media (max-width: 767px) {
  .footer-time {
    padding: 30px 15px;
  }
  .footer-time__desc {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .footer-logo {
    margin-bottom: 10px;
  }
}
